@charset "utf-8";
/* CSS Document */

html{ 
	scroll-behavior: smooth;
}

*{ 
	text-shadow: rgba(0,0,0,.01) 0 0 1px; 
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
}

body { background: #f5f5dc; font-family:Times New Roman;}

div{ position: relative;} /* lo slider non schiarisce*/

ul{	list-style: none;}

img{ max-width: 100%; } /* permette di avere la giusta proporzione*/

.background_image
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}


.owl-carousel,
.owl-carousel .owl-stage-outer,
.owl-carousel .owl-stage,
.owl-carousel .owl-item
{
	height: 100%;    /* necessarie per le slides*/
}
.slide{ height: 100%;  } /* necessaria per le slides*/

/*********************************
3. Header
*********************************/

.header
{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background: transparent;
	z-index: 100; /* permette le scritte sulla barra menu */
}
.header::before
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 0%;
	background: black; /* colore della barra quando scende*/
	content: '';
	/* lettere perima della transition, per funzionare nei vecchi browser*/
	-webkit-transition: all 400ms ease; 
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
}

.header.scrolled::before{height: 100%;}

.header_content
{
	width: 100%;
	height: 128px;
	padding-left: 62px;
	padding-right: 62px;
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
}

/*bootstrap*/
.flex-row{-ms-flex-direction:row!important;flex-direction:row!important}

/*bootstrap*/
 .justify-content-start{-ms-flex-pack:start!important;justify-content:flex-start!important}

/*bootstrap*/
.ml-auto{margin-left:auto!important}

.header.scrolled .header_content{height: 90px;}

.logo
{
	width: 280px;
	height: 41px;
	border: solid 3px orange;
	text-align: center;
}
.logo a
{
	display: block;
	font-size: 24px;
	font-weight: 600;
	color: #ffffff;
	line-height: 37px;
	text-decoration: none;
}

.main_nav ul li{margin-right: 49px;  /* margine solo fino all'ultimo della lista*/}

.main_nav ul li a
{
	font-size: 16px;
	font-weight: 500;
	color: #ffffff;
	text-decoration: none;
}

.main_nav ul li a:hover,
.main_nav ul li.active a{color: #ffa37b;}

/*****
menu a tendina 
******/
.hamburger
{
	display: none;
	margin-left: 25px;
	cursor: pointer;
	float:right;
}
.hamburger i
{
	font-size: 100px;
	color: #ffffff;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.hamburger:hover i{color: #ffa37b;}

/*********************************
4. Menu
*********************************/
.trans_400
{
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
}

/*bootstrap*/
.flex-column{-ms-flex-direction:column!important;flex-direction:column!important}

/*bootstrap*/
.align-items-end{-ms-flex-align:end!important;align-items:flex-end!important}

/*bootstrap*/
.text-right{text-align:right!important}

.menu
{
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 101;
	background: rgba(255,255,255,0.93);
	visibility: hidden;
	opacity: 0;
}
.menu.active
{
	visibility: visible;
	opacity: 1;
}
.menu_content
{
	padding-right: 30px;
	padding-top: 170px;
}
.menu_close
{
	position: absolute;
	top: 50px;
	right: 30px;
	cursor: pointer;
	z-index: 1;
}
.menu_close i
{
	font-size: 24px;
	color: #121212;
}
.menu_close:hover i
{
	color: #ffa37b;
}
.menu_nav ul li:not(:last-of-type)
{
	margin-bottom: 5px;
}
.menu_nav ul li a
{
	font-weight: 700;
	font-size: 36px;
	color: #121212;
	line-height: 1.2;
}
.menu_nav ul li a:hover
{
	color: #ffa37b;
}
.menu_nav ul li a span
{
	color: #690772;
}
.menu_extra
{
	position: absolute;
	right: 30px;
	bottom: 30px;
}

/*********************************
5. Home
*********************************/

.home
{
	width: 100%;
	height: 100vh;
}
.home_slider_container
{
	width: 100%;
	height: 100%;
}

.home_slider .slide
{
	background: #0f0e24;
}
.home_slider .background_image
{
	opacity: 0.28;
}
.home_container
{
	position: absolute;
	top: 36.5%;
	left: 0;
	width: 100%;
}
.home_title
{
	font-size: 50px;
	font-weight: 600;
	color: #ffffff;
	line-height: 1.2;
}
.descrizione{
	color: #ff7514;
	font-family: Courier New;
	font-size: 20px;
}

.trans_200
{
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.bottone
{
	background: green;
	font-size: 20px;
	font-weight: 500;
	color: #ffffff;
	border: none;
	outline: none;
	cursor: pointer;
	text-align: center;
	position:relative;
	padding: 5px;		
}

.bottone:hover
{
	text-decoration: none;
	color:white;
	background-color: #00BB2D;
}

/*********************************
 Inizio Carrello
*********************************/
.cart-list {overflow-x: scroll; }

.col-md-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; 
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px; }
    }

.table {
  min-width: 1000px !important;
  width: 100%;
 }
  .table th {
    font-weight: 500; }
  .table .thead-primary {
    background: #82ae46; 
    }
    .table .thead-secondary {
    background: #654321; 
    color: white;
    }
    .table .thead-primary tr th {
      padding: 20px 10px;
      color: #fff !important;
      border: 1px solid transparent !important; }
  .table tbody tr td {
    text-align: center !important;
    vertical-align: middle;
    padding: 40px 10px;
    border: 1px solid transparent !important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05) !important; }
    .table tbody tr td.product-remove a {
      bordeR: 1px solid rgba(0, 0, 0, 0.1);
      padding: 4px 10px;
      color: #000000; }
      .table tbody tr td.product-remove a:hover {
        border: 1px solid #82ae46;
        background: #82ae46; }
        .table tbody tr td.product-remove a:hover span {
          color: #fff; }
    .table tbody tr td.quantity {
      width: 20%;
       }
    .table tbody tr td.image-prod .img {
      display: block;
      width: 100px;
      height: 100px;
      margin: 0 auto; }
    .table tbody tr td.product-name {
      width: 30%; }
      .table tbody tr td.product-name h3 {
        font-size: 16px; }
    .table tbody tr td.total, .table tbody tr td.price {
      color: #000000; }
      
      .img,
.blog-img,
.user-img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }
      
      .input-group {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  width: 100%; 
  }
.input-group{width:auto}

.input-group a:hover {
  background-color: #4CAF50;
  color: black;
  text-decoration: none;
}

.previous {
  background-color: #ddd;
  color: black;
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
  color: black;
}

.next {
  background-color: #ddd;
  color: black;
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
  color: black;
}

.round {
  border-radius: 50%;
}

.form-control {
  background: #fff !important;
  color: #000000 !important;
  font-size: 18px;
  border-radius: 0px;
  -webkit-box-shadow: none !important;
  box-shadow: none !important; 
  text-align: center;
  }

.col-lg-4{
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px; 
 }

.mt-5,
.my-5 {
  margin-top: 3rem !important; }
  
  .cart-wrap{
  	width: 100%;
  	padding-right: 15px;
  	padding-left: 15px;
  	margin-right: auto;
  	margin-left: auto; 
  }
  
  .cart-wrap .btn-primary {
  display: inline-block; 
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; 
  
  
  }
  
  .cart-total {
  width: 100%;
  display: block;
  border: 1px solid green;
  padding: 20px; 
  background-color: white;
  
 }
  .cart-total h4 {
    margin-bottom: 20px; 
    text-align: center;
    text-transform: uppercase;
    font-family: "Times New Roman", Times, serif;
  }
  .cart-total p {
    width: 100%;
    display: block; 
    
   }
    .cart-total p span {
      display: block;
      width: 50%; 
     }
     
    .corrispondente{
    	float:right;
    	font-family: "Times New Roman", Times, serif;
    	 }
    .cart-total p.total-price span {
      text-transform: uppercase; 
     }
      .cart-total p.total-price span:last-child {
        color: #000000;
        font-weight: 600; 
       }
  .cart-total hr {
    background: rgba(255, 255, 255, 0.1); 
   }
    
   .btn {
  cursor: pointer;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  border-radius: 30px;
  -webkit-box-shadow: 0px 24px 36px -11px rgba(0, 0, 0, 0.09);
  -moz-box-shadow: 0px 24px 36px -11px rgba(0, 0, 0, 0.09);
  box-shadow: 0px 24px 36px -11px rgba(0, 0, 0, 0.09); 
  }
  .btn:hover, .btn:active, .btn:focus {
    outline: none; }
  .btn.btn-primary {
    background: #82ae46;
    border: 1px solid #82ae46;
    color: #fff; }
    .btn.btn-primary:hover {
      border: 1px solid #82ae46;
      background: transparent;
      color: #82ae46; }

/*********************************
 Fine Carrello
*********************************/

/*********************************
 Generale
*********************************/

.ftco-section {
  padding: 6em 0;
  position: relative; }
  
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; 
}
  
.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px; }

/*bootstrap*/
.justify-content-center {
  -webkit-box-pack: center !important;
  -ms-flex-pack: center !important;
  justify-content: center !important; }

/*bootstrap*/
.mb-3{
  margin-bottom: 1rem !important; }
  
  /*bootstrap*/
.pb-3{
  padding-bottom: 1rem !important; }
 
 /*bootstrap*/
col-md-12{
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px; 
}

/*bootstrap*/
.mb-4 { margin-bottom: 1.5rem !important; }
  
/*bootstrap*/
.col-md-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

/*bootstrap*/
.col-lg-3{
	-ms-flex:0 0 25%;
	flex:0 0 25%;
	max-width:25%;
	position: relative;
	width:100%;
	min-height:1px;
	padding-right:15px;
	padding-left:15px;
	}

   /*bootstrap*/
  .prodotto .text {
    background: #fff;
    position: relative;
    width: 100%; 
  }
           
      /*bootstrap*/
     .img-fluid {
  		max-width: 100%;
  		height: auto; 
  	 }
  	 
  
  /*bootstrap*/
 .py-3 {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important; 
  }
 /*bootstrap*/
 .pb-4 {
  	padding-bottom: 1.5rem !important; 
  }
  /*bootstrap*/
 .px-3 {
  	padding-right: 1rem !important;
  	padding-left: 1rem !important; 
  }
  /*bootstrap*/
 .text-center {
  	text-align: center !important; 
  }
  /*bootstrap*/
 .d-flex {
	  display: -webkit-box !important;
	  display: -ms-flexbox !important;
	  display: flex !important; 
}
/*bootstrap*/
.mr-2{
	margin-right:.5rem!important
}
	/*bootstrap*/
  .m-auto {
  	margin: auto !important; 
  }
  
  /*bootstrap*/
  .align-items-center {
  -webkit-box-align: center !important;
  -ms-flex-align: center !important;
  align-items: center !important; 
  }
  /*bootstrap*/
  .mx-1 {
	  margin-right: 0.25rem !important;
	  margin-left: 0.25rem !important;
   }
   
 /*********************************
 Fine Generale
*********************************/

.button {
  position: relative;
  background-color: #FF5E13;
  border: none;
  font-size: 15px;
  color: #FFFFFF;
  padding: 20px;
  width: 200px;
  text-align: center;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
  border-radius: 15px;
  margin: 25px;
}

.button:after {
  content: "";
  background: #90EE90;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px!important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}

.button:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}
.button:hover {
  background-color: rgb(156,42,0);
}
  
/*********************************
	Footer
*********************************/

.footer
{
	background: #ffffff;
	padding-top: 81px;
}
.footer_content
{
	padding-bottom: 52px;
}
.footer_logo
{
	display: inline-block;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
.footer_logo > div:first-of-type
{
	width: 250px;
	height: 85px;
	border: solid 3px #393939;
	font-size: 43.32px;
	font-weight: 600;
	color: #393939;
	line-height: 34px;
}
.footer_logo > div:last-of-type
{
	font-size: 16px;
	font-weight: 600;
	color: #393939;
	line-height: 0.75;
	margin-top: 15px;
}
.footer_logo a
{
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
}
.footer_row
{
	margin-top: 74px;
}
.footer_title
{
	font-size: 18px;
	font-weight: 700;
	color: #393939;
	line-height: 1.2;
}
.footer_list
{
	margin-top: 9px;
}
.footer_list ul li
{
	font-size: 15px;
	font-weight: 500;
	color: #6d6d6d;
	line-height: 2;
}
.newsletter_container
{
	margin-top: 8px;
}
.newsletter_form
{
	display: block;
	position: relative;
}
.newsletter_input
{
	width: 100%;
	height: 64px;
	background: #ffffff;
	border: none;
	border-bottom: solid 2px #393939;
	outline: none;
	font-size: 15px;
	font-weight: 600;
	color: #393939;
}
.newsletter_input::-webkit-input-placeholder
{
	font-size: 15px !important;
	font-weight: 500 !important;
	color: #6d6d6d !important;
}
.newsletter_input:-moz-placeholder
{
	font-size: 15px !important;
	font-weight: 500 !important;
	color: #6d6d6d !important;
}
.newsletter_input::-moz-placeholder
{
	font-size: 15px !important;
	font-weight: 500 !important;
	color: #6d6d6d !important;
} 
.newsletter_input:-ms-input-placeholder
{ 
	font-size: 15px !important;
	font-weight: 500 !important;
	color: #6d6d6d !important;
}
.newsletter_input::input-placeholder
{
	font-size: 15px !important;
	font-weight: 500 !important;
	color: #6d6d6d !important;
}
.newsletter_button
{
	width: 152px;
	height: 54px;
	background: #ffa37b;
	margin-top: 23px;
	border: none;
	outline: none;
	cursor: pointer;
	font-size: 14px;
	font-weight: 600;
	color: #ffffff;
}
.certificates
{
	padding-left: 12px;
	padding-top: 10px;
}
.cert
{
	margin-bottom: 30px;
}

